extends layout

block content
 h1 ID: #{result._id}
 
 p #[strong Title:]
   a(href=result.book.url) #{result.book.title}
 p #[strong Imprint:] #{result.imprint}
 
 p #[strong Status:]
   if result.status=='Available'
    span.text-success #{result.status}
   else if result.status=='Maintenance'
    span.text-danger #{result.status}
   else
    span.text-warninig #{result.status}
	
 if result.status!='Available'
  p #[strong Due Back:] #{result.due_back_formatted}
 p are you sure to delete this instance?
 form(action='' method='POST')
  input(type='hidden' value=result._id name='insId')
  input(type='submit' value='Yes, delete')
  
